hydra-core
omegaconf
freetype-py
shapely
svgutils
cairosvg
opencv-python
scikit-image
matplotlib
visdom
wandb
beautifulsoup4
triton
numba
numpy
scipy
scikit-fmm
einops
timm
fairscale==0.4.13
accelerate
transformers
safetensors
datasets
easydict
scikit-learn
pytorch_lightning==2.1.0
webdataset
ftfy
regex
tqdm
diffusers==0.32.2
svgwrite
svgpathtools
cssutils
torch-tools
git+https://github.com/openai/CLIP.git